@import "semantic-ui";

.chatbox {
  height: 450px;
}

#messages {
  height: 15em;
  overflow: auto;
}

.listing{
    list-style: none;
    padding-left: 0;
}

.input {
  button {
    display:none;
  }
}